@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Theater</h1>
    <h4>Choose a seat and prepare for the fabulous adventure to begin!</h4>
    
</div>
